<div class="full-height flex center-center">
    <div class="container">
        <h2 class="header text-center">Welcome to the Late App</h2>
        <div class="displayer flex gap-1em ">
            <mat-card class="add-class link center-center" (click)=" addNewClass()">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                    <mat-icon>add</mat-icon>
                  </button>
                <p>Add Class</p>
            </mat-card>
            <mat-card *ngFor="let class of classes, let i = index" class="center-center" (click)="goTo(class)">
                <div class="badge flex center-center">{{class.candidatesCount}}</div>
                <p><b>{{class.className}}</b></p>
                <p>{{user.name}}</p>
                <p><b>Time In: </b>{{class.timeIn}}</p>
                <p><b>Time Out: </b>{{class.timeOut}}</p>
            </mat-card>
        </div>
    </div>
</div>
